:root{
    --color: #3A4564;
    --size-c:#191F30;
    --size-d-:#262D44;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lexend Deca", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #3A4564;
}
h1{
    font-size: 1.5rem;
    color: white;
    align-items: center;
}
.task-header{
    text-align: center;
    margin: 3rem auto;
    color:white;
}

.container{
    border: 1px solid var(--color);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

/* Using Flexbox*/
.calculator-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .5rem auto;
}
.calculator-header h1{
    justify-self: start;
}
.toggle-container span{
    font-size: .6rem;
    color: white;
}

.step{
    margin: .2rem;
    font-size:1rem;
}

.side-icons{
    justify-self: end;
    color: white;
    display: inline-block;
    margin: 0.5rem 0;
}

.theme-switch {
    display: grid;
    justify-items: end;
    font-size: 0.6rem;
}

.toggle-states{
    display:grid;
    grid-template-columns: repeat(3, auto);
    gap:0.8rem ;
    color: white;
    margin-right: .3rem;
}

.toggle span {
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.toggle-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    font-size: 0.4rem;
    align-items: center;
}

.toggle {
    margin-top: 0.4rem;
    background-color: hsl(223, 31%, 20%);
    height: 20px;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50px;
    position: relative;
}

.toggle .circle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    transition: left 0.4s ease;
}

.toggle-number.active {
    color: #ff5252;
}

.calculator-result{
    background-color: #191F30;
    color: white;
    text-align: right;
    margin-bottom: 1rem;
    padding: 1em;
    border-radius: 4px;
}

.calculator-body{
    background-color: #191F30;
    padding: .8em;
    border-radius: 4px;

}
.calculator-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.number{
    background-color: #eae3e3;
    padding: .6em 1.3em;
    border-radius: 4px;
    box-shadow: 0 3px #bdbdbd ;
    font-weight: 500;
    font-size: 1rem;
}
.action-sign{
    background-color: #eae3e3;
    border-radius: 4px;
    padding: .6em 1em;
    margin: .5rem;
    font-size: 1.2rem;
    box-shadow: 0 3px #bdbdbd ;

}
.action-name{
    color: white;
    background-color: rgba(113, 123, 205, 0.4);
    border-radius: 4px;
    margin: .6rem;
    padding: .5em;
    font-size: 1.2rem;
    font-weight: 500;
}
.action-result{
    background-color: red;
    color: white;
    margin: .6rem;
    padding: .5em;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 500;
}
.calculator-footer-row{
    display: flex;
    flex-direction: row;
    gap: .5em;
}
.calculator-footer-row > *{
    flex: 1;
}