*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #092566;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    width: 100%;
    margin:0;
    padding: 0;
}
.task-header{
    text-align: center;
    margin: 3rem auto;
}
.container{
    width: 100%;
    max-width: 900px;
    margin: .5rem auto;
    display: grid;
    grid-template-columns: 25% 1fr;
    border-radius: 20px;
}
.sidebar{
    padding: 20px;
    background-color: #45649A;
    color: white;
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.sidebar h1{
    font-size: 1.5rem;
    margin: 1rem auto;
}
.form{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2em;
    background-color: #f5f5f5   ;
}
.form-input{
    /*border: none;*/
    /*margin-top: 1rem;*/
}
.form-label{
    display: block;
    width: 100%;
    margin-bottom: .5rem;
    color: rgba(32, 34, 32, 0.75);
}
.form-group{
    margin: 1rem auto;
    width: 100%;
    padding:0;
}
.form-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
input[type=text], input[type=email]{
    height:40px;
    font-size: 1.2rem;
    border: 2px solid rgba(128, 128, 128, 0.3);
    outline: none;
    border-radius: 2px;
    padding: .5em 1em;
}

input[type=text]:focus, input[type=email]:focus{
    outline: none;
    box-shadow: none;
}
textarea{
    resize: none;
    width: 100%;
    font-size: 1.2rem;
    border: 2px solid rgba(128, 128, 128, 0.3);
    border-radius: 5px;
    padding:.5em;
}
textarea:focus{
    outline: none;
    }

.form-btn{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}
.btn{
    background-color: #1552DA;
    color: rgba(255, 255, 255, 0.82);
    padding: .5em;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

}